#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    height: 40px;
}
#botao{
    display: flex;
    justify-content: center;
    align-items: last baseline;]
    border-bottom: position: border: display: ;;;;
}